.Board{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
}
.BoardItem{
    display: flex;
    width:399px;
    text-align: flex-start;
    background-color:darkblue;
    justify-content: flex-start;
    align-items: center;
    font-size: 22.56px;
    color: #fff;  
    border: 1px solid #fff;
    border-top-style : none;
    border-bottom-style: none; 

    transition:background-color 0.3s ease-in-out;
}
.BoardItem:first-child{
    border-top-style: solid;
}
.BoardItem:last-child{
    border-radius: 0px 0px 10px 10px;
    border-bottom-style: solid;
}
.CurrentItem:first-child{
    border-top-style: solid;
}
.CurrentItem:last-child{
    border-radius: 0px 0px 10px 10px;
    border-bottom-style: solid;
}
.BoardItem:hover{
    background-color: cornflowerblue;
    color: #000000;
    cursor: pointer;
}
.CurrentItem{
    font-size: 22.56px;
    align-items: center;
    display: flex;
    width: 100%;
    text-align: flex-start;
    background-color: #FFD700;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: 700;
}
.CurrentItem:hover{
    background-color: #FFB000;
    color: #000;
    cursor: pointer;
}
